* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/**
 * Nav css.
 */
.bg-light {
    background-color: #fff !important;
}

.form-body {
    border-bottom: 1px solid #d0d0d0;
}

.signin-link, .signup-link {
    border-radius: 20px;
    border: 1px solid #1da1f2;
    font-weight: bold;
    text-align: center;
    color: #1da1f2 !important;
}

.signup-link {
    background: #1da1f2;
    color: #fff !important;
}

a.dropdown-item {
    border-bottom: 1px solid #e0e0e0;
}

.dropdown-menu.dropdown-menu-right.show {
    padding: 0px;
    text-align: center;
    top: 36px;
    right: 0;
    left: auto;
}

.card-title {
    margin-bottom: 0px;
}

a#logoutDropdown {
    color: #c0c0c0;
}

a.user-link {
    color: #5c5c5c;
    text-transform: capitalize;
    text-decoration: none;
}

.dropdown.show, .dropdown {
    margin-top: 8px;
}

.navbar {
    padding: 0.5rem 0rem;
}

a.nav-link.user-link {
    padding: 0.5rem 0.5rem;
}

/**
 * Errors css.
 */
.error-message, #email-error, #password-error, #username-error {
    color: red;
    font-size: 14px;
}

/**
 * Textarea and pre text css.
 */
textarea {
    resize: none;
    overflow: auto;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 0;
    font-family: Arial;
}

textarea::-webkit-scrollbar, pre::-webkit-scrollbar {
    display: none;
}

.area-body {
    max-height: 200px;
}

/**
 * Tweet body css.
 */
.article-body {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
}

.form-article, .article-body {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

p.cards-text {
    word-break: break-word;
}

.right-avatar {
    margin-left: 5px;
}

.user-text {
    margin-top: 2px;
}

.article-area {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    min-height: 100%;
}

.head-home {
    border-bottom: 1px solid #d0d0d0;
}

.head-home a {
    text-decoration: none;
}

.ending {
    font-size: 14px;
}

.diff-time {
    color: #999999;
    font-size: 13px;
    margin-top: -3px
}

p.ml-auto.diff-time.mt-2 {
    padding-top: 5px;
}

html, body, .container, div.left-body {
    height: 100%;
}

a.drop-tweet {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #6c757d;
}

.drop-tweet {
    margin-bottom: 40px;
}

.pagination {
    display: none;
}

/**
 * Upload image css.
 */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 1px solid gray;
    border-radius: 5px;
    color: #808080;
    background-color: #fff;
    padding: 2px 5px;
    font-size: 14px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -moz-opacity: 0;
}

.tweet-image {
    width: 100%;
    height: auto;
}

.default-avatar {
    width: 35px;
    height: 35px;
}

.tweet-container{
   padding-top: 55px;
}

/**
 * Style the Image Used to Trigger the Modal.
 */
.image-avatar {
    width: 35px;
    height: 35px;
    margin: 5px 5px;
    border-radius: 20px;
}

.modal-area {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-flex {
    display: flex;
    position: relative;
    margin: 0 auto;
}

.modal-main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    margin: 0 auto;
}

.modal-tweet {
    height: 100%;
    min-width: 350px;
    background: #fff;
}

.modal-image {
    display: flex;
    flex-direction: column;
    background: #000;
    max-width: 80%;
    min-width: 800px;
}

.image-content {
    display: block;
    margin: auto auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    height: auto;
}

.head-tweet {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
}

.close {
    position: absolute;
    top: -25px;
    right: -25px;
    color: #909090;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 580px) {
    .modal-image {
        min-width: 100%;
    }

    .modal-flex {
        display: block;
    }

    .modal-tweet {
        min-width: 100%;
    }

    .modal-main {
        padding: 0px;
    }

    .image-content {
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    .close {
        top: 0px;
        right: 0px;
    }
}

@media only screen and (min-width: 580px) and (max-width: 770px) {
    .modal-image {
        min-width: 450px;
    }

    .image-content {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 960px) {
    .left-body {
        margin: 0 auto;
        width: 70%;
    }
}
